@import "_functions.scss";

// Заголовки
.title {
  @extend %CS;
  font-weight: 600;
  color: $darkColor;
  letter-spacing: toRem(0.68);
  @include adaptiveValue("font-size", 36, 26);
  line-height: 1.1;
  display: flex;
  align-items: flex-start;
  gap: toEm(20, 36);

  &::before {
    content: "";
    border-radius: toRem(10);
    background-color: $purpleColor;
    flex: 0 0 toRem(6);
    margin-top: toEm(5, 36);
    width: toRem(6);
    height: toEm(30, 36);
  }
}

// Product Preview Cart
.item-product {
  position: relative;
  display: grid;
  gap: toRem(30);

  &--category {
    gap: toRem(25);
  }

  // .item-product__picture-link
  &__picture-link {
    display: block;
  }

  // .item-product__image
  &__image {
    aspect-ratio: 282 / 370;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: toRem(10);

    .item-product--category & {
      aspect-ratio: 270 / 393;
    }
  }

  // .item-product__body
  &__body {
    display: grid;
    grid-template: auto auto / 1fr auto;
    row-gap: toRem(5);
    column-gap: toRem(35);
  }

  // .item-product__title
  &__title {
    font-weight: 600;
    color: $darkColor;
    min-width: 0;

    .item-product--category & {
      font-size: toRem(17);
      font-weight: 700;
    }
  }

  // .item-product__link-title
  &__link-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .item-product__label
  &__label {
    grid-row: 2 / 3;
    font-size: toRem(14);
    font-weight: 500;
  }

  &__link,
  &__price {
    // align-self: center;
    grid-column: 2 / 3;
    grid-row: span 2;
  }

  // .item-product__link
  &__link {
    display: flex;
    align-items: center;

    &::before {
      transition: color 0.3s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $blackColor;
      }
    }
  }

  // .item-product__price
  &__price {
    align-self: center;
    border-radius: toRem(8);
    background-color: $liteColor;
    padding: toRem(10) toRem(20);
    font-weight: 700;
    font-size: toRem(14);
    color: $darkColor;
  }

  &__favorite {
    position: absolute;
    top: toRem(26);
    right: toRem(20);
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color:$redColor;
      }
    }
  }
}

//button
.button {
  border-radius: toRem(8);
  padding: toRem(16) toRem(20);
  line-height: 1.2222222;
  background-color: $purpleColor;
  text-align: center;
  font-weight: 500;
  font-size: toRem(18);
  color: $whiteColor;
  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 toRem(3) toRem(4) 0 $boxShadow;
      background-color: $darkPurple;
    }
    &:focus {
      background-color: $darkPurple;
    }
    &:disabled {
      color: $disabledColor;
      cursor: default;
      background-color: $disabledColorBg;
    }
  }

  &--border {
    background-color: $whiteColor;
    border: toRem(1) solid $borderColor;
    color: $darkColor;

    @media (any-hover: hover) {
      &:hover {
        border: toRem(1) solid $darkColor;
        box-shadow: none;
        background-color: $whiteColor;
        color: $purpleColor;
      }
      &:focus {
        border: toRem(1) solid $purpleColor;
        box-shadow: none;
        background-color: $whiteColor;
        color: $purpleColor;
      }
      &:disabled {
        border: transparent;
      }
    }
  }

  &--white {
    background-color: $whiteColor;
    border: none;
    color: $darkColor;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 toRem(3) toRem(4) 0 rgba(0, 0, 0, 0.1);
        background-color: rgba $darkOpacity;
        color: $purpleColor;
      }
      &:focus {
        box-shadow: none;
        background-color: $darkOpacity;
        color: $purpleColor;
      }
      &:disabled {
        border: transparent;
        background-color: $whiteColor;
        color: $darkColor;
      }
    }
  }
}
