@import "_functions.scss";

.header {
  border-bottom: toRem(1) solid $borderColor;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $whiteColor;
  z-index: 50;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    @include adaptiveValue("min-height", 108, 65);
    @include adaptiveValue("column-gap", 76, 12, 0, $containerWidth, 991.98);
  }

  &__logo {
    position: relative;
    z-index: 4;
  }

  &__action {
    position: relative;
    z-index: 4;
    @media (max-width: toEm(540)) {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: toRem(15);
      background-color: #fff;
      border-top: toRem(1) solid #bebcbd;
    }
  }
}

.menu {
  flex-grow: 1;
  @media (max-width: toEm(767.98)) {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    transition: left 0.3s;
    z-index: 2;
    background-color: $whiteColor;
    padding: 0 toRem(15) toRem(30) toRem(15);
    @include adaptiveValue("padding-top", 128, 85, 3, 768, 320);

    @media (max-width: toEm(540)) {
      padding-bottom: toRem(105);
    }

    &::before {
      content: "";
      position: fixed;
      width: 100%;
      @include adaptiveValue("height", 109, 66);
      background-color: $whiteColor;
      z-index: 3;
      top: 0;
      left: -100%;
      border-bottom: toRem(1) solid $borderColor;
      transition: left 0.3s;
    }

    .menu-open & {
      left: 0;

      &::before {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: toRem(5);
    @include adaptiveValue("column-gap", 40, 10, 0 $containerWidth, 767.98);

    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      row-gap: toRem(20);
    }
  }

  &__link {
    font-weight: 500;
    font-size: toRem(22);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(28);
    }

    @extend %decoration-link;

    &::after {
      background-color: $purpleColor;
    }


    &--active {
      font-weight: 700;
      color: $darkColor;
    }
  }
}

.search {
  flex-basis: 21.53%;
  border-radius: toRem(8);
  background-color: $liteColor;
  position: relative;
  padding-left: toRem(44);
  z-index: 4;

  @media (max-width: toEm(767.98)) {
    flex-grow: 1;
  }

  &__input {
    padding-right: toRem(10);
    height: toRem(44);

    &::placeholder {
      transition: opacity 0.3s;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(44);
    height: toRem(44);
  }
}

.action-header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: toRem(12);
  text-align: center;
  // .action-header__item
  &__item {
    width: toRem(44);
    height: toRem(44);
    border-radius: toRem(8);
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $purpleColor;
        color: #fff;
      }
    }
    @media (max-width: toEm(540)) {
      width: auto;
    }
  }
}

.icon-menu {
  display: none;

  @media (max-width: toEm(767.98)) {
    display: block;
    flex: 0 0 toRem(30);
    width: toRem(30);
    height: toRem(18);
    position: relative;
    z-index: 5;

    &::before,
    &::after,
    span {
      content: "";
      height: toRem(2);
      width: 100%;
      position: absolute;
      left: 0;
      background-color: $blackColor;
      transition: transform 0.3s;
    }

    &::before {
      top: 0;
    }

    span {
      top: 50%;
      margin-top: toRem(-1);
    }

    &::after {
      bottom: 0;
    }
  }
}

.menu-open {
  body {
    overflow: hidden;
  }

  @media (max-width: toEm(767.98)) {
    .menu__body {
      left: 0;

      &::before {
        left: 0;
      }
    }

    .icon-menu {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: toRem(-1);
      }

      &::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: toRem(-1);
      }
    }
  }

  @media (max-width: 678px) {
    .search {
      left: 0;
    }
  }
}