@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Кольори
$mainColor: #807d7e;
$darkColor: #3c4242;
$purpleColor: #8a33fd;
$liteColor: #f6f6f6;
$whiteColor: #ffff;
$darkOpacity: rgba(102, 32, 193, 0.03);
$borderColor: #bebcbd;
$darkPurple: #6620c1;
$disabledColor: #807d7e;
$disabledColorBg: #eaeaea;
$boxShadow: rgba(0, 0, 0, 0.1);
$blackColor: rgba(0, 0, 0, 1);
$redColor: #FF0000FF;

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// header
@import "_header.scss";
// footer
@import "_footer.scss";
// home
@import "_home.scss";

body {
  font-family: "Causten", sans-serif;
  color: $mainColor;
}

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (max-width: toEm(540)) {
    padding-bottom: toRem(49);
  }
}

.wrapper main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: toRem(1270);
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

.page {

  &__hero {
    @include adaptiveValue("margin-bottom", 130, 40);
  }

  &__deals {
    @include adaptiveValue("margin-bottom", 100, 40);
  }

  &__new {
    @include adaptiveValue("margin-bottom", 95, 40);
  }
}


